<h1>Places you've been</h1>
<form action="/Places" method = "post">
  <label for="new-place">add a new place</label>
  <input id="new-place" name="new-place" type = "text">
  <button type="submit">Submit</button>
</form>
