<h1>Places you've been</h1>
<form action="/Places" method = "post">
  <label for="new-place">add a new place</label>
  <input id="new-place" name="new-place" type = "text">
  <label for="new-desc">add description</label>
  <input id="new-desc" name="new-desc" type = "text">
  <label for="new-image">add an image URL</label>
  <input id="new-image" name="new-image" type = "text">
  <button type="submit">Submit</button>
</form>
